.inside {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  overflow: auto;
  color: black;
  flex-direction: column;
  outline: 2px solid black; /* Ustawienie obramowania */
  outline-offset: 0px; /* Ustawienie odstępu, aby połączyć granice */
}
