.imageContainer {
  max-width: 400px;
  max-height: 300px;
  width: 100%;
  height: auto;
  margin: 0 10px;
  border: none !important;
}

.imageContainer2 {
  max-width: 500px;
  max-height: 500px;
  width: 100%;
  height: auto;
  margin: 0 10px;
  border: none !important;
}
.responsiveImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}
